
.DS_Store
.Rproj.user
R/.Rhistory
R/.Rproj.user/5BB1CEAC/sources/s-2543A3D4/lock_file
R/.Rproj.user/5BB1CEAC/sources/s-2543A3D4/lock_file
R/.Rproj.user/5BB1CEAC/sources/s-2543A3D4/lock_file
R/.Rproj.user/5BB1CEAC/sources/s-2543A3D4/lock_file
