* {

    box-sizing: border-box;

}

:root {}

body {
    margin: 0;
}

main {



}

div.abertura {

    padding-top: 30vh;
    height: 100vh;


}

.margenzona {

    max-width: 32rem;
    margin-left: max(10px, 0.7*100vw - 0.7*32rem);
    margin-right: auto;
    padding-bottom: 10px; /* para evitar margin-collapse */

}

svg#background {

    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    min-height: 100vh;
    z-index: -1;

}

section {

    margin-top: 3rem;

}

/* vis */

.main-vis {
    width: 100vw;
    display: flex;
    justify-content: stretch;
}

.stream-wrapper {

    flex: 1;

}

.metro-wrapper {

    flex: 0 0 max(10px, 0.7*100vw - 0.7*32rem);
    /* igual à margem esquerda acima de .margenzona acima*/

}

.main-vis svg {
    width: 100%;
    outline: 1px dashed cornflowerblue;
}


/* para texto sobrepor linha no mobile */

.margenzona h1, h2, .margenzona p {
    background-color: white;
}

.margenzona p.icone-continue {
    background-color: transparent;
}

/*elementos ui*/

.icone-continue {
    margin-top: 2rem;
    text-align: center;
}

.icone-continue svg {

    height: 2rem;
    width: 2rem;

}

/* vis */

.metro-lines {

    stroke-width: 10px;
    fill: transparent;
    mix-blend-mode: multiply;


}
